import React from 'react'
import { IReactComponentProps } from '@atoms/metadata'

export interface <%= propsInterfaceName %> extends IReactComponentProps {

}

export function <%= ComponentName %> (_props: <%= propsInterfaceName %>) {
  return (
    <div></div>
  )
}
