import React from 'react'

import { <%= ComponentName %> } from '@brainstorm'

export default {
  title: '<%= ComponentName %>',
  argTypes: {
  },
}

function Template () {
  return (
    <<%= ComponentName %> />
  )
}

export const Primary = Template.bind({})